.home {
  width: 100%;

  .s1,
  .s2,
  .s3 {
    width: 100%;
    display: flex;
  }

  .s4 {
    display: flex;

    .story1,
    .story2,
    .story3,
    .story4 {
      background-size: cover;
      background-position: center;
      flex: 1;
      display: flex;
      align-items: end;
      padding: 40px;
      transition: 0.3s;
      position: relative;
      aspect-ratio: 360 / 500;

      .rainbow-line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 6px;
        background: linear-gradient(27deg, #ffc593 0%, #bc7198 43.29%, #5a77ff 83.33%);
        transition: 1s;
      }
    }

    .story1:hover,
    .story2:hover,
    .story3:hover,
    .story4:hover {
      cursor: pointer;
      transform: translateY(-24px);

      .rainbow-line {
        width: 100%;
      }

      .arrow {
        animation: arrow 2s infinite;
      }
    }

    .story1 {
      background-image: url("../../assets/stories/desktop/mountains.jpg");
    }

    .story2 {
      background-image: url("../../assets/stories/desktop/cityscapes.jpg");
    }

    .story3 {
      background-image: url("../../assets/stories/desktop/18-days-voyage.jpg");
    }

    .story4 {
      background-image: url("../../assets/stories/desktop/architecturals.jpg");
    }
  }

  .s5 {
    padding: 120px 0;
    display: flex;
    justify-content: center;

    .wrapper {
      max-width: 1110px;
      display: flex;
      gap: 30px;
    }
  }
}
