.home {
  width: 100%;

  .s1,
  .s2,
  .s3,
  .s4,
  .s5 {
    width: 100%;
    display: flex;
  }

  .s5 {
    padding: 120px 0;
    justify-content: center;

    .wrapper {
      max-width: 1110px;
      display: flex;
      gap: 30px;
    }
  }
}
