.story-block {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  aspect-ratio: 360 / 500;
  position: relative;
  padding: 40px;

  .bg-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
  }

  .date {
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  h1 {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
  }

  h2 {
    margin-top: 4px;
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .line {
    margin-top: 16px;
    width: 100%;

    height: 1px;
    opacity: 0.25;
    background: #fff;
  }

  button {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;

    p {
      color: #fff;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2px;
    }

    .arrow {
      filter: brightness(0) invert(1);
    }
  }

  .rainbow-line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    background: linear-gradient(27deg, #ffc593 0%, #bc7198 43.29%, #5a77ff 83.33%);
    transition: 1s;
  }
}

.story-block:hover {
  cursor: pointer;
  transform: translateY(-24px);

  .rainbow-line {
    width: 100%;
  }

  .arrow {
    animation: arrow 2s infinite;
  }
}

/* note done with responsive */

@media (max-width: 1000px) {
  .story-block {
    width: 100%;
    aspect-ratio: 360 / 500;
  }
}

@media (max-width: 450px) {
  .story-block {
    aspect-ratio: 375 / 350;
  }
}
